@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}

body {
  background-color: #fff;
  font-family: "Roboto";
}

body.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1205px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

a {
  color: #555;
  text-decoration: none;
  user-select: none;
}
a:hover {
  color: #ec2027;
  text-decoration: underline;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

p {
  text-align: justify;
}

button,
input {
  border: 0;
  outline: 0;
  background-color: #fff;
}

.title {
  display: block;
  color: #555;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}
.title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  height: 3px;
  width: 100px;
  background-color: #d8b442;
}

.price {
  font-size: 22px;
  font-weight: bold;
  color: #373737;
}

.priceThrough {
  font-size: 14px;
  font-weight: bold;
  color: #5a596b;
  text-decoration: line-through;
}

.nameTitle {
  font-size: 18px;
  color: #fff;
  background-color: #d8b442;
  line-height: 40px;
  text-transform: uppercase;
  padding: 0px 20px;
}

@media screen and (max-width: 1026px) {
  .container {
    max-width: 950px;
    margin: auto;
    padding: 0px 20px;
  }
}
@media screen and (max-width: 900px) {
  .container {
    max-width: 800px;
    margin: auto;
    padding: 0px 20px;
  }
}
@media screen and (max-width: 767px) {
  .title {
    font-size: 20px;
  }
  .price {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    padding: 0px 10px;
  }
  .price {
    font-size: 16px;
  }
  .priceThrough {
    font-size: 12px;
  }
}
.header_head {
  left: 0px;
  top: 0px;
  position: fixed;
  z-index: 100;
  height: 30px;
  width: 100%;
  overflow: hidden;
  background-color: #f4f5f9;
  padding: 0 20px;
}
.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_list {
  display: flex;
  align-items: center;
}
.header_list b {
  height: 12px;
  width: 2px;
  background-color: #666;
}
.header_item {
  line-height: 30px;
  padding: 0px 18px;
}
.header_item:first-child {
  padding-left: 0;
}
.header_item a {
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* số dòng hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header_info {
  display: flex;
  gap: 15px;
}
.header_info p {
  font-size: 14px;
  color: #333;
}
.header_info-like {
  display: flex;
  gap: 10px;
}
.header_info-btn {
  background-color: #4267b2;
  font-weight: bold;
  color: #fff;
  padding: 2px 5px;
  border-radius: 4px;
  cursor: pointer;
}
.header_between {
  margin-top: 30px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_between-logo img {
  width: 225px;
}
.header_between-search {
  display: flex;
  align-items: center;
  max-width: 470px;
  width: 100%;
  border: 1px solid #d8b442;
}
.header_between-search input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: #666;
}
.header_between-search i {
  padding: 12px 20px;
  background-color: #d8b442;
  font-size: 20px;
  color: #fff;
}
.header_between-contact {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header_between-phone {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  color: #666;
}
.header_between-phone b {
  display: block;
}
.header_between-cart {
  display: flex;
  align-items: center;
  background-color: #d8b442;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  padding: 0px 15px;
  font-weight: 700;
  text-transform: uppercase;
  gap: 8px;
}
.header_between-cart:hover {
  background-color: #d8b442;
  color: #fff;
  text-decoration: none;
}
.header_between-cart i {
  font-size: 20px;
}
.header_product {
  height: 50px;
  background-color: #d8b442;
}
.header_product-list {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: auto;
  overflow: hidden;
}
.header_product-item {
  display: inline-block;
}
.header_product-item a {
  text-align: center;
  padding: 0 10px;
  height: 100%;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
}
.header_product-item a:hover {
  text-decoration: none;
}
.header_product-item:hover {
  background-color: #877127;
  cursor: pointer;
}
.header_product {
  position: relative;
}
.header_product .dropdown {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #fff;
  box-shadow: #88bfe5 0px 0px 3px 0px;
  display: none;
}
.header_product .dropdown .container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 25px;
  padding-top: 15px;
}
.header_product .dropdown_item {
  font-size: 13px;
  line-height: 36px;
  font-weight: 500;
}
.header_product .dropdown_item li {
  border-bottom: 1px dotted #ddd;
}
.header_product .dropdown_item i {
  color: #d8b442;
  font-size: 10px;
}
.header_product .dropdown_item a {
  color: #555;
  text-transform: capitalize;
}
.header_product .dropdown_item a:hover {
  color: #ec2027;
}

.header_product-item:hover .dropdown {
  display: block;
}

.header_product-item.active {
  background-color: #877127;
}

@media screen and (max-width: 1100px) {
  .header_container {
    padding-left: 0;
  }
  .header_info p {
    display: none;
  }
  .header_between {
    padding: 0 20px;
  }
  .header_between-phone {
    display: none;
  }
  .header_product-list {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1026px) {
  .header_list {
    padding-left: 20px;
  }
}
@media screen and (max-width: 960px) {
  .header_container {
    padding: 0 20px;
  }
  .header_list {
    transform: translateX(-20px);
  }
  .header_item:first-child {
    padding-left: 0;
  }
}
@media screen and (max-width: 900px) {
  .header_list {
    padding-left: 0;
  }
  .header_item {
    padding: 0px 15px;
  }
  .header_info {
    display: none;
  }
  .header_between-logo img {
    width: 180px;
  }
  .header_between-search {
    max-width: 350px;
  }
  .header_between-search i {
    padding: 10px 15px;
  }
  .header_between-phone {
    display: none;
  }
  .header_product-item a {
    font-size: 13px;
  }
}
@media screen and (max-width: 860px) {
  .header_list {
    transform: translateX(0);
  }
}
@media screen and (max-width: 830px) {
  .header_list {
    transform: translateX(-20px);
  }
}
@media screen and (max-width: 770px) {
  .header {
    display: none;
  }
}
.header_mobile {
  display: none;
}

@media screen and (max-width: 770px) {
  .header_mobile {
    display: block;
  }
  .header_mobile-fixed {
    background-color: #d8b442;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 766px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 20px;
    z-index: 100;
  }
  .header_mobile-menu {
    width: 120px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    line-height: 50px;
    margin-left: 5px;
  }
  .header_mobile-menu i {
    font-size: 20px;
  }
  .header_mobile-search {
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 32px;
    max-width: 400px;
    width: 100%;
  }
  .header_mobile-search input {
    width: 100%;
    background-color: transparent;
    height: 32px;
    padding-left: 10px;
  }
  .header_mobile-btn {
    padding: 0 10px;
  }
  .header_mobile-btn i {
    font-size: 18px;
  }
  .header_mobile-cart {
    cursor: pointer;
  }
  .header_mobile-cart i {
    font-size: 22px;
    color: #fff;
  }
  .header_mobile-contact {
    padding: 0px 15px;
    height: 60px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
  }
  .header_mobile-contact img {
    display: block;
    height: 50px;
  }
  .header_mobile-contact span {
    font-size: 20px;
    color: #f00;
    font-weight: 700;
  }
  .menuList {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 99;
    display: none;
  }
  .menuList_inner {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
    background-color: #eee;
    padding: 10px 15px;
  }
  .menuList_item {
    border: solid 1px #dfdfdf;
    border-radius: 5px;
  }
  .menuList_item:hover {
    text-decoration: none;
    color: #333;
  }
  .menuList_item img {
    margin: 10px auto;
    display: block;
  }
  .menuList_item span {
    display: block;
    text-align: center;
    height: 30px;
    line-height: 15px;
    overflow: hidden;
  }
}
@media screen and (max-width: 500px) {
  .header_mobile-fixed {
    padding: 0px 10px;
  }
  .header_mobile-contact {
    height: 50px;
    padding: 0px 10px;
  }
  .header_mobile-contact img {
    height: 40px;
  }
  .header_mobile-contact span {
    font-size: 18px;
  }
}
.productMobile_menu,
.productMobile_list {
  display: none;
}

@media screen and (max-width: 500px) {
  .productMobile_menu {
    display: block;
    padding-right: 10px;
    color: #d8b442;
  }
  .productMobile_list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 12;
    background-color: #fff;
    border: 1px solid #d8b442;
  }
  .productMobile_item {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px dotted #d8b442;
    padding-left: 10px;
  }
}
.footer {
  background-color: #1b1718;
  color: #fff;
}
.footer .container {
  display: grid;
  grid-template-areas: "h1 h2" "h3 h2";
  gap: 20px;
}
.footer_intro {
  grid-area: h1;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  max-width: 840px;
  width: 100%;
  margin-right: 65px;
  margin-bottom: 25px;
}
.footer_title {
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  margin-bottom: 10px;
}
.footer_title::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 40px;
  background-color: #ec2027;
}
.footer_content a,
.footer_content span {
  display: block;
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}
.footer_contact {
  grid-area: h2;
  max-width: 295px;
  width: 100%;
}
.footer_contact img {
  width: 35px;
  height: 35px;
}
.footer__name {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer__name img {
  width: 25px;
  height: 25px;
}
.footer_fb {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
}
.footer_imgFb {
  margin-right: 8px;
}
.footer_imgFb img {
  width: 50px;
  height: 50px;
}
.footer_linkFb {
  display: block;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 7px;
  font-size: 16px;
}
.footer_followLink {
  font-size: 14px;
  padding: 3px 8px;
  font-weight: 700;
  background-color: #fff;
}
.footer_followLink i {
  margin-right: 5px;
  color: #2f4c8a;
  font-size: 16px;
}
.footer_followLink:hover {
  color: #555;
  text-decoration: none;
}
.footer_connect {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  border-bottom: 1px dotted #fff;
  margin-bottom: 20px;
}
.footer_icon a:hover {
  text-decoration: none;
}
.footer_icon img {
  margin-right: 20px;
}
.footer_address {
  grid-area: h3;
  margin-bottom: 36px;
}
.footer_address span {
  color: #ec2027;
}
.footer_address p {
  margin-bottom: 10px;
  font-size: 14px;
}
.footer_end {
  background-color: #323234;
  color: #fff;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 13px;
}
.footer_rate {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 25px 0;
}
.footer_rate a {
  display: block;
  width: 135px;
  height: 50px;
  background: url("https://denquanghung.com.vn/themes/nguyenduc/images/bct.png");
  background-repeat: no-repeat;
}

@media screen and (max-width: 900px) {
  .footer .container {
    grid-template-areas: "h1 h1" "h2 h2" "h3 h3";
  }
  .footer_title {
    font-size: 16px;
  }
  .footer_address {
    margin-top: 15px;
  }
  .footer_rate {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 500px) {
  .footer_intro {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .footer_title {
    font-size: 14px;
  }
  .footer_name {
    font-size: 14px;
  }
  .footer_follow a {
    font-size: 14px;
  }
  .footer_followLink {
    font-size: 14px;
  }
  .footer_rate {
    margin: 15px 0;
  }
}
.slideVideo video {
  object-fit: cover;
  width: 100%;
  max-height: 600px;
}

.charisma {
  background-color: #f3f3f3;
  width: 100%;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: -5px;
}
.charisma .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}
.charisma_item {
  display: flex;
  align-items: center;
  gap: 22px;
  color: #555;
}
.charisma_item:hover {
  color: #d8b442;
  text-decoration: none;
}
.charisma_item i {
  font-size: 26px;
  color: #fff;
  position: relative;
  z-index: 10;
}
.charisma_item i::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 100rem;
  background-color: #d8b442;
  z-index: -1;
}
.charisma_item p {
  letter-spacing: -0.7px;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.charisma_item span {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
}

@media screen and (max-width: 770px) {
  .charisma {
    height: 160px;
  }
  .charisma .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 40px;
    padding: 0px 50px;
  }
}
@media screen and (max-width: 500px) {
  .charisma {
    display: none;
  }
}
.striking {
  margin-bottom: 30px;
}
.striking_list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
}
.striking_item {
  max-width: 380px;
  width: 100%;
  cursor: pointer;
  position: relative;
}
.striking_item img {
  width: 100%;
}
.striking_name {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  height: 35px;
  line-height: 35px;
  color: #fff;
  background-color: rgba(95, 88, 79, 0.8);
}

@media screen and (max-width: 770px) {
  .striking_list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    place-items: center;
  }
  .striking_item {
    max-width: 500px;
  }
}
@media screen and (max-width: 500px) {
  .striking {
    margin-top: 15px;
  }
}
.product {
  margin-bottom: 40px;
}
.product_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px dotted #d8b442;
  margin-bottom: 20px;
}
.product_title {
  display: block;
  height: 41px;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  background-color: #d8b442;
  padding: 0 20px;
  border-left: 2px solid #000;
  white-space: nowrap;
}
.product_title:hover {
  color: #fff;
}
.product_product {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex: 1;
}
.product_product-name {
  display: flex;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 950px;
}
.product_product-name a {
  padding: 0 10px;
  border-right: 1.5px solid #666;
}
.product_all {
  margin-right: 10px;
  font-style: italic;
  font-size: 14px;
  color: #555;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 10px;
}
.product_all span {
  font-weight: 500;
  margin-right: 5px;
}
.product_list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 27px;
}
.product_item {
  max-width: 280px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.product_item:last-child {
  display: none;
}
.product_item img {
  width: 100%;
}
.product_item img:hover {
  opacity: 0.8;
}
.product_item-img {
  flex: 1;
}
.product_info {
  padding: 15px;
  background-color: #f0f0f0;
  transform: translateY(-10px);
  position: relative;
}
.product_cost {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 27px;
  font-weight: 700;
  text-shadow: 1px 1px 0px #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  transform: translateY(-50%);
}
.product_promotion {
  display: block;
}
.product_promotion .priceThrough {
  display: block;
  margin-bottom: 10px;
}
.product_name {
  font-size: 14px;
  line-height: 18px;
  display: block;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}
.product_price {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.product_sale {
  position: absolute;
  top: 0;
  right: 0px;
  width: 60px;
  height: 60px;
  z-index: 2;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.product_sale::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(5px, 5px);
  background: url("https://denquanghung.com.vn/themes/nguyenduc/images/k.png") no-repeat left top;
  z-index: -1;
}

@media screen and (max-width: 900px) {
  .product_list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .product_product-name {
    display: none;
  }
  .product_item:last-child {
    display: block;
  }
}
@media screen and (max-width: 770px) {
  .product_title {
    font-size: 16px;
  }
  .product_product-name {
    display: none;
  }
  .product_list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    place-items: center;
  }
  .product_item {
    max-width: 350px;
  }
  .product_item:last-child {
    display: none;
  }
  .product_name {
    font-size: 16px;
  }
  .product_cost {
    font-size: 25px;
  }
}
@media screen and (max-width: 500px) {
  .product_promotion {
    margin-top: 5px;
  }
  .product_promotion .priceThrough {
    margin-bottom: 5px;
  }
  .product_info {
    background-color: #fff;
  }
  .product_list {
    gap: 0px;
  }
  .product_price {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .product_head {
    position: relative;
    border: 1px solid #d8b442;
  }
  .product_all {
    display: none;
  }
  .product_item {
    border: 1px solid #ddd;
    padding: 15px 15px 5px;
  }
  .product_info {
    padding: 10px 2px 0;
  }
  .product_cost {
    font-size: 22px;
  }
  .product_name {
    font-size: 14px;
    margin-bottom: 0;
  }
  .product_title {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
  }
  .product_all span {
    font-size: 13px;
  }
}
.project {
  margin-bottom: 50px;
}
.project .title {
  font-size: 22px;
}
.project_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.project_item {
  max-width: 580px;
}
.project_item .price {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}
.project_item .price:hover {
  text-decoration: none;
}
.project_img {
  display: block;
}
.project_img img {
  width: 100%;
}

@media screen and (max-width: 770px) {
  .project_list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    place-items: center;
  }
}
.layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.layout_item {
  position: relative;
  margin-top: -5px;
}
.layout_content {
  position: absolute;
  top: 50%;
  left: 85px;
  transform: translate(0, -50%);
}
.layout_title {
  font-size: 34px;
  font-weight: 600;
  line-height: 40px;
  color: #fff;
  margin-bottom: 55px;
}
.layout_btn {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  line-height: 18px;
  color: #fff;
  background-color: #d8b442;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 10px 0px;
}
.layout_img {
  max-width: 1000px;
  position: relative;
}
.layout_img::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.layout_img img {
  max-height: 530px;
  width: 100%;
  height: 100%;
}

.layout_item:hover .layout_img::after {
  background: none;
  transition: 0.5s;
}

@media screen and (max-width: 1000px) {
  .layout {
    grid-template-columns: repeat(1, 1fr);
  }
  .layout_img {
    max-height: 400px;
    height: 100%;
  }
}
@media screen and (max-width: 900px) {
  .layout_img {
    max-width: 860px;
  }
}
@media screen and (max-width: 770px) {
  .layout_content {
    left: 50px;
  }
}
@media screen and (max-width: 500px) {
  .layout {
    margin-bottom: 30px;
  }
  .layout_img {
    max-height: 250px;
  }
  .layout_title {
    margin-bottom: 30px;
  }
  .layout_content {
    left: 30px;
  }
}
.sale {
  background-color: #e6e7e9;
  padding: 30px 0 30px 0;
  margin-bottom: 20px;
}
.sale_title {
  margin-bottom: 50px;
  font-size: 26px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}
.sale_item {
  margin: 0 15px;
}
.sale_item a {
  font-family: "Roboto", sans-serif !important;
  color: #333;
  font-size: 12px;
  font-weight: 500;
  display: block;
  height: 100px;
  text-align: center;
}
.sale_item a:hover {
  color: #ec2027;
  text-decoration: none;
}
.sale_item img {
  margin-bottom: 15px;
}
.sale .slick-slider button {
  position: absolute;
  top: 32%;
  outline: "none";
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 35px;
  background-color: black;
  color: white;
  z-index: 99;
}
.sale .slick-slider .slick-prev {
  left: -30px;
  font-size: 0;
}
.sale .slick-slider .slick-prev::before {
  content: "<";
  line-height: 1;
  font-size: 25px;
  cursor: pointer;
}
.sale .slick-slider .slick-next {
  right: -30px;
  font-size: 0;
}
.sale .slick-slider .slick-next::after {
  content: ">";
  line-height: 1;
  font-size: 25px;
  cursor: pointer;
}
.sale .slick-slider img {
  width: 100%;
}
.sale .slick-slide {
  padding: 40px 0;
  position: relative;
  height: auto !important;
  opacity: 0.5;
  transition: all 200ms ease;
}
.sale .slick-current {
  opacity: 1;
  transform: scale(2) translateY(10px);
  z-index: 99;
}
.sale .slick-slide .xyz {
  opacity: 0;
}
.sale .slick-current .xyz {
  opacity: 1;
}

@media screen and (max-width: 770px) {
  .sale {
    padding: 20px 0 0px 0;
  }
  .sale_title {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .sale_item img {
    margin-bottom: 5px;
  }
  .sale_item a {
    font-size: 9px;
  }
  .sale .slick-current {
    transform: scale(2) translateY(20px);
  }
}
@media screen and (max-width: 500px) {
  .sale {
    display: none;
  }
}
.news {
  margin-bottom: 30px;
}
.news .title {
  font-size: 20px;
}
.news_description {
  font-size: 14px;
  color: #333;
  text-align: justify;
  margin-bottom: 30px;
}
.news_list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 25px;
}
.news_item {
  max-width: 280px;
  border: 1px solid #e7e7e7;
}
.news_item:last-child {
  display: none;
}
.news_item img {
  width: 100%;
  margin-bottom: 15px;
}
.news_name {
  padding: 0 15px 15px;
  font-size: 14px;
  font-weight: 700;
  color: #555;
  text-align: center;
  height: 35px;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* số dòng hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news_desc {
  color: #666;
  line-height: 18px;
  display: block;
  padding: 0 20px 15px;
  font-size: 14px;
}

@media screen and (max-width: 900px) {
  .news_list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .news_item:last-child {
    display: block;
  }
  .news_item img {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 770px) {
  .news_list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    place-items: center;
  }
  .news_item {
    max-width: 350px;
  }
  .news_item:last-child {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .news .title {
    font-size: 16px;
  }
  .news_description {
    font-size: 13px;
  }
  .news_list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .news_item {
    max-width: 480px;
  }
}
.offer {
  margin-bottom: 30px;
}
.offer_list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 40px;
}
.offer_layout {
  max-width: 380px;
  width: 100%;
}
.offer_title {
  background: url("https://denquanghung.com.vn/themes/nguyenduc/images/b.gif") repeat-x left 13px;
}
.offer_title a {
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  margin-bottom: 12px;
  text-transform: uppercase;
  background-color: #fff;
  padding-right: 5px;
}
.offer_item {
  margin-top: 15px;
}
.offer_name {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 5px;
  color: #333;
}
.offer_content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.offer_content img {
  max-width: 100px;
}
.offer_desc {
  color: #555;
  font-size: 13px;
  line-height: 18px;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* số dòng hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.offer_map {
  margin-top: 15px;
}
.offer_map iframe {
  height: 300px;
  width: 100%;
}

@media screen and (max-width: 770px) {
  .offer_list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .offer_layout {
    max-width: 500px;
  }
}
@media screen and (max-width: 500px) {
  .offer_title a {
    font-size: 17px;
  }
  .offer_list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .offer_layout.map {
    max-width: 430px;
  }
  .offer_map {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.allocation {
  margin: 40px 0;
}
.allocation .title {
  font-size: 22px;
}
.allocation_container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px;
}
.allocation_img {
  max-width: 200px;
  display: block;
  margin: auto;
}
.allocation_img img {
  width: 100%;
}

@media screen and (max-width: 770px) {
  .allocation_container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .allocation_img {
    max-width: 160px;
  }
}
@media screen and (max-width: 500px) {
  .allocation .title {
    font-size: 18px;
  }
  .allocation_container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .allocation_img {
    max-width: 140px;
  }
}
.register {
  background-color: #d8b442;
  color: #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.register .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.register_sale h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.register_sale p {
  font-size: 16px;
}
.register_form {
  max-width: 600px;
  width: 100%;
  display: flex;
  align-items: center;
}
.register_form input {
  width: 100%;
  font-size: 17px;
  padding: 15px;
  color: #555;
  border-radius: 0;
}
.register_form img {
  height: 50px;
  cursor: pointer;
}
.register_send {
  border: 0;
  outline: 0;
  background: transparent;
  transform: translateY(1px);
}

@media screen and (max-width: 900px) {
  .register {
    height: 150px;
  }
  .register .container {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  .register_sale h2 {
    text-align: center;
    font-size: 20px;
  }
  .register_form input {
    padding: 10px 15px;
  }
  .register_form img {
    height: 41px;
  }
}
@media screen and (max-width: 500px) {
  .register .container {
    gap: 10px;
  }
  .register_form input {
    font-size: 14px;
  }
  .register_form img {
    height: 36px;
    transform: translateY(0.8px);
  }
  .register_sale h2 {
    font-size: 18px;
  }
  .register_sale p {
    font-size: 14px;
  }
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.video-container {
  width: 100%;
  height: 100%;
}

.popup iframe {
  width: 1000px;
  height: 600px;
}

.popup .close {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 50px;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .popup iframe {
    width: 950px;
    height: 500px;
  }
}
@media screen and (max-width: 1024px) {
  .popup iframe {
    width: 800px;
    height: 450px;
  }
}
@media screen and (max-width: 900px) {
  .popup iframe {
    width: 700px;
    height: 400px;
  }
}
@media screen and (max-width: 770px) {
  .popup iframe {
    width: 600px;
    height: 350px;
  }
  .popup .close {
    font-size: 40px;
    right: 20px;
  }
}
@media screen and (max-width: 650px) {
  .popup iframe {
    width: 500px;
    height: 300px;
  }
}
@media screen and (max-width: 500px) {
  .popup iframe {
    width: 350px;
    height: 250px;
  }
}
.productPage {
  font-family: "Roboto";
  margin-top: 20px;
}
.productPage .container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.productPage_sidebar {
  max-width: 250px;
  width: 100%;
}
.productPage .sidebarMobile {
  display: none;
}
.productPage_layout {
  margin-bottom: 20px;
  position: relative;
}
.productPage_layout .slick-slide {
  margin-top: -40px;
  position: relative;
  height: auto !important;
  transition: all 200ms ease;
}
.productPage_layout .arrow {
  position: absolute;
  top: -10px;
  right: 10px;
  transform: translate(0, -100%);
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.productPage_layout .pull-left {
  right: 25px;
  border-right: 1px solid #fff;
  padding-right: 8px;
}
.productPage_layout .slick-current {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}
.productPage_layout .slick-slide .xyz {
  opacity: 1;
}
.productPage_layout .slick-current .xyz {
  opacity: 1;
}
.productPage_title {
  display: block;
  text-transform: uppercase;
  color: #fff;
  background-color: #d8b442;
  height: 36px;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  padding-left: 18px;
  border-left: 3px solid #000;
}
.productPage_title a {
  display: block;
  text-transform: uppercase;
  color: #fff;
  background-color: #d8b442;
  height: 36px;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
}
.productPage_nameLink {
  display: block;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  font-weight: 500;
  padding-left: 10px;
  background-color: #f7f7f7;
  border-bottom: 1px dotted #ddd;
}
.productPage_nameLink i {
  margin-right: 10px;
  color: #bebebe;
}
.productPage_contact {
  display: flex;
  background-color: #eaeaea;
  height: 75px;
  border-bottom: 1px dotted #ddd;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 15px;
}
.productPage_contact img {
  height: 52px;
  width: 52px;
  border-radius: 100rem;
  object-fit: cover;
  border: 1px solid #333;
}
.productPage_contact span {
  font-size: 15px;
  font-weight: 700;
}
.productPage_image img {
  width: 100%;
}
.productPage_image a {
  padding: 5px 15px;
  display: block;
  font-size: 14px;
  text-align: center;
  height: 45px;
  background-color: #f2f2f2;
  border-bottom: 2px solid #555;
}
.productPage_head {
  display: flex;
  align-items: center;
  height: 34px;
  line-height: 34px;
  background-color: #f5f5f5;
  border: 1px solid #e6e6e6;
  width: 100%;
}
.productPage_home {
  padding: 0px 20px 0 30px;
}
.productPage_arrow {
  font-size: 15px;
  color: #555;
  margin-right: 20px;
}
.productPage__name {
  color: #333;
  font-size: 14px;
  font-weight: 700;
  padding-left: 30px;
  background: url("https://denquanghung.com.vn/themes/nguyenduc/images/g8.gif") no-repeat;
  background-position: 0 50%;
}
.productPage_product-h2 {
  margin-top: 15px;
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
  color: #333;
  height: 34px;
  line-height: 34px;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
}
.productPage_product-h2::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 100px;
  background-color: #ec2027;
}
.productPage .product_list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 25px;
}
.productPage_item {
  max-width: 280px;
  overflow: hidden;
  width: 100%;
}
.productPage_item img {
  width: 100%;
}
.productPage_info {
  padding: 15px;
  background-color: #f0f0f0;
  transform: translateY(-10px);
}
.productPage_name {
  font-size: 14px;
  line-height: 18px;
  display: block;
  margin-bottom: 8px;
}
.productPage_price {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.productPage_desc {
  margin-bottom: 20px;
}
.productPage_desc p {
  font-size: 13pt;
  line-height: 1.8;
  color: #333;
  font-weight: 300;
  letter-spacing: 1.2;
  font-family: Arial, Helvetica, sans-serif;
}
.productPage_desc b {
  font-size: 14pt;
  color: #333;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.8;
}
.productPage_detail {
  margin-bottom: 30px;
  margin: 0 20px;
}
.productPage_detail .container {
  display: block;
  font-family: "Times New Roman", Times, serif;
}
.productPage_detail .container p {
  margin-top: 20px;
  font-size: 14pt;
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 1.2;
}
.productPage_detail .container p a {
  color: #f00;
  font-weight: 700;
}
.productPage_detail .container p a:hover {
  text-decoration: none;
}
.productPage_detail .container p span {
  color: rgb(255, 102, 0);
  font-weight: 700;
}
.productPage_detail .container b {
  font-size: 14pt;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .productPage .container {
    gap: 40px;
    padding: 0;
  }
  .productPage .product_list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .productPage_price .price {
    font-size: 20px;
  }
  .productPage_desc p {
    font-size: 12pt;
  }
  .productPage_desc b {
    font-size: 13pt;
  }
  .productPage_detail .container b {
    padding-top: 13pt;
  }
  .productPage_detail .container p {
    font-size: 13pt;
  }
}
@media screen and (max-width: 900px) {
  .productPage_container {
    gap: 30px;
  }
  .productPage .product_list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .productPage_price .price {
    font-size: 20px;
  }
}
@media screen and (max-width: 770px) {
  .productPage .product {
    margin: auto;
    padding: 0 20px;
  }
  .productPage .product_item:last-child {
    display: block;
  }
  .productPage_product .productPage_head {
    display: none;
  }
  .productPage_head {
    margin-bottom: 0;
  }
  .productPage_layout {
    margin-bottom: 10px;
  }
  .productPage .container {
    flex-direction: column;
    gap: 0px;
  }
  .productPage_product {
    width: 100%;
  }
  .productPage_item {
    max-width: 350px;
  }
  .productPage_sidebar {
    max-width: 760px;
  }
  .productPage .listSidebar,
  .productPage .infoSidebar,
  .productPage .slideSidebar {
    display: none;
  }
  .productPage .sidebarMobile {
    display: block;
    width: 100%;
  }
  .productPage_mobile-list {
    display: flex;
    align-items: flex-start;
  }
  .productPage_mobile-item {
    width: 50%;
  }
  .productPage_link {
    display: block;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    display: -webkit-box;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .productPage_detail {
    margin-top: 20px;
  }
  .productPage_detail .container p {
    margin-top: 15px;
  }
}
@media screen and (max-width: 500px) {
  .productPage_desc p {
    font-size: 11pt;
  }
  .productPage_desc b {
    font-size: 12pt;
  }
  .productPage_detail .container p {
    font-size: 12pt;
  }
  .productPage_detail .container b {
    font-size: 13pt;
  }
  .productPage_product-h2 {
    font-size: 16px;
  }
  .productPage_link {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
  }
  .productPage .product_list {
    gap: 0;
    margin-bottom: 15px;
  }
  .productPage .product_info {
    justify-content: center;
  }
  .productPage .product_name {
    text-align: center;
  }
}
.detail_head {
  display: block;
  width: 100%;
  height: 38px;
  line-height: 38px;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.detail_head i {
  color: #555;
}
.detail_mobile {
  display: none;
}
.detail_container {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-top: 15px;
}
.detail_content {
  max-width: 920px;
  width: 100%;
}
.detail_inner {
  max-width: 490px;
}
.detail_product {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.detail_img {
  max-width: 500px;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}
.detail_img img {
  width: 100%;
}
.detail_title {
  font-size: 20px;
  font-weight: 700;
  color: #555;
  line-height: 30px;
}
.detail_in4 {
  border-bottom: 1px dotted #ddd;
  padding-bottom: 10px;
  padding-left: 20px;
}
.detail_in4 li {
  list-style: disc;
  font-size: 14px;
  line-height: 30px;
  color: #555;
}
.detail_reduce {
  font-weight: 700;
  font-size: 18px;
  color: #333;
}
.detail_reduce b {
  font-size: 24px;
  color: #f00;
}
.detail_price {
  display: flex;
  align-items: center;
}
.detail_price span {
  display: block;
  font-size: 15px;
  color: #555;
}
.detail_cost {
  font-size: 38px;
  color: #f00;
  font-weight: 700;
  line-height: 60px;
  margin-right: 50px;
  font-style: italic;
}
.detail_sdt {
  display: none;
}
.detail_btn {
  display: flex;
  align-items: center;
  gap: 15px;
}
.detail_btn button {
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  height: 42px;
  max-width: 200px;
  width: 100%;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}
.detail_btn button span {
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 500;
}
.detail_btn button span:hover {
  text-decoration: underline;
}
.detail_hotline {
  color: #333;
  font-size: 14px;
  line-height: 19px;
  padding: 15px 0px 0px 25px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.detail_hotline i {
  font-size: 18px;
  color: #ec2027;
  margin-right: 5px;
}
.detail_address {
  background-color: #efefef;
  border-color: #f15928;
  border-style: dashed;
  border-width: 0.877193px;
  color: #333;
  font-size: 14px;
  margin: 20px 0px 0px;
  padding: 10px 25px 40px;
  text-align: justify;
}
.detail_tabs {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -20px;
}
.detail_tabs button {
  height: 40px;
  line-height: 40px;
  padding: 0px 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background-color: #313135;
  cursor: pointer;
}
.detail_tabs button.active {
  background-color: #f00;
}
.detail_tabs button.hide {
  background-color: #313135;
}
.detail_panes-name {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.detail_panes-price {
  font-size: 15px;
  color: #ec2027;
  line-height: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}
.detail_panes-item {
  display: none;
  max-width: 920px;
  width: 100%;
}
.detail_panes-item.active {
  display: block;
}
.detail_panes-list {
  margin-bottom: 10px;
}
.detail_panes-list li {
  line-height: 30px;
  font-size: 15px;
  color: #555;
  display: block;
}
.detail_panes-list li span {
  display: block;
  padding-left: 20px;
  list-style: disc;
}
.detail_panes-img {
  display: block;
  margin-inline: auto;
  max-width: 770px;
  margin-bottom: 20px;
}
.detail_panes-img img {
  width: 100%;
}
.detail_panes-info p {
  line-height: 25px;
  text-align: justify;
  margin: 14px 0;
  font-size: 16px;
  color: #555;
}
.detail_panes-info p b {
  color: #00f;
  font-weight: 700;
}
.detail_camket-h3 {
  font-weight: 700;
  font-size: 18px;
  color: #d8b442;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.detail_camket li {
  font-size: 14px;
  text-align: justify;
  color: #555;
  line-height: 20px;
  list-style: disc;
  margin: 20px;
}
.detail_camket li b {
  color: #333;
  font-weight: 700;
}
.detail_form {
  background-image: url("https://denquanghung.com.vn/uploads/bg-form-register.jpg");
  height: 300px;
  background-size: cover;
  margin: 15px 0;
}
.detail_form-inner {
  margin-left: 40px;
  max-width: 290px;
  width: 100%;
  box-shadow: #ccc 3px 3px 3px 0px;
  background-color: #fff;
  height: inherit;
}
.detail_form-head {
  background-color: #d8b442;
  color: #fff;
  padding: 10px 0;
}
.detail_form-head h3 {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
}
.detail_form-head p {
  font-size: 11px;
  text-align: center;
}
.detail_form-input {
  width: 250px;
  margin: 10px auto 0;
}
.detail_form-input .input {
  width: 100%;
  background-color: #f2f2f2;
  height: 30px;
  display: block;
  box-shadow: 3px 3px 3px #ccc;
  border: 0px solid #fff;
  font-size: 12px;
  color: #333;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.detail_form-input div {
  height: 60px;
  background-color: #f2f2f2;
  box-shadow: 3px 3px 3px #ccc;
  margin-bottom: 15px;
  border-radius: 5px;
}
.detail_form-input div input {
  background-color: transparent;
  box-shadow: 0 0 0 #fff;
  padding: 5px;
}
.detail_form-input button {
  width: 100%;
  display: block;
  text-align: center;
  height: 30px;
  line-height: 30px;
  background-color: #ec2027;
  color: #fff;
  font-size: 14px;
  box-shadow: 3px 3px 3px #ccc;
  border-radius: 5px;
  text-transform: uppercase;
}
.detail_form-offer {
  height: 90px;
}
.detail_comment {
  max-width: 920px;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .detail_price {
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 10px;
  }
  .detail_btn {
    flex-direction: column;
    align-items: baseline;
  }
  .detail_btn button {
    max-width: 450px;
  }
  .detail_hotline {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 900px) {
  .detail_img {
    max-height: none;
  }
  .detail_price {
    flex-direction: unset;
    align-items: center;
    margin-bottom: 10px;
  }
  .detail_btn {
    flex-direction: unset;
    align-items: center;
    margin-bottom: 0px;
  }
  .detail_hotline {
    flex-direction: unset;
    gap: 0px;
  }
  .detail_product {
    flex-direction: column;
    gap: 10px;
  }
  .detail_img img {
    max-width: 500px;
    width: 100%;
  }
  .detail_address {
    padding-bottom: 20px;
  }
  .detail_tabs {
    margin-top: 20px;
  }
}
@media screen and (max-width: 770px) {
  .detail .productPage_sidebar {
    display: none;
  }
  .detail .hideMobile {
    display: none;
  }
  .detail_inner {
    display: none;
  }
  .detail_mobile {
    display: block;
    width: 100%;
  }
  .detail_mobile-info p {
    margin-bottom: 10px;
  }
  .detail_mobile-info .price {
    color: #f00;
  }
  .detail_mobile-name {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .detail_mobile-btn button {
    width: 100%;
    border-radius: 5px;
    display: block;
    height: 60px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #ec2027;
    margin-bottom: 15px;
  }
  .detail_mobile-btn button span {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 5px;
  }
  .detail_mobile-btn button a {
    font-size: 16px;
    font-weight: 700;
    color: #ec2027;
  }
  .detail_container {
    flex-direction: column;
  }
  .detail_img {
    max-width: 750px;
  }
  .detail_img img {
    max-width: 750px;
    width: 100%;
  }
  .detail_tabs button.active {
    display: block;
    border-bottom: 2px solid #d8b442;
    height: 30px;
    line-height: 30px;
    font-size: 17px;
    font-weight: 700;
    padding: 0px 7px;
    background-color: #d8b442;
    text-transform: none;
  }
  .detail_form {
    border-radius: 5px;
    overflow: hidden;
  }
  .detail_form-head h3 {
    font-size: 16px;
  }
  .detail_form-head p {
    font-size: 13px;
  }
  .detail_form-inner {
    margin: 0;
    max-width: 100%;
  }
  .detail_form-input {
    padding: 15px;
    margin-top: 0;
    width: 100%;
    background-color: #f2f2f2;
  }
  .detail_form-input .input {
    background-color: #fff;
    border: 1px solid #ddd;
  }
  .detail_form-input div {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
}
@media screen and (max-width: 500px) {
  .detail_head a {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .detail_tabs button.active {
    font-size: 15px;
  }
  .detail_panes-name {
    font-size: 15px;
  }
  .detail_panes_form-head h3 {
    font-size: 15px;
  }
  .detail_panes_form-head p {
    font-size: 11px;
  }
  .detail_panes-list li {
    font-size: 14px;
  }
  .detail_panes-info p {
    font-size: 14px;
  }
  .detail_mobile-name {
    font-size: 18px;
  }
  .detail_mobile-info b {
    font-size: 14px;
  }
  .detail_mobile-btn button {
    font-size: 16px;
    height: 50px;
  }
  .detail_mobile-btn a {
    font-size: 14px;
  }
  .detail_mobile-btn span {
    font-size: 12px;
  }
}
.infoPage {
  margin-top: 15px;
  margin-bottom: 20px;
}
.infoPage_container {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.infoPage_link {
  color: #00f;
  font-weight: 700;
}
.infoPage_content {
  flex: 1;
}
.infoPage_content p {
  font-size: 16px;
  text-align: justify;
  color: #555;
}
.infoPage_content b {
  display: block;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: -5px;
}
.infoPage_content img {
  display: block;
  margin-inline: auto;
  max-width: 770px;
  margin-bottom: 20px;
  width: 100%;
}
.infoPage_title {
  font-weight: 18;
  font-weight: 700;
  color: #333;
  height: 31px;
  line-height: 31px;
}
.infoPage_news-title {
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  background-color: #f3f3f3;
  padding: 0px 10px;
  font-weight: 400;
  color: #333;
  margin-bottom: 10px;
}
.infoPage_news a {
  height: 26px;
  line-height: 26px;
  display: block;
  color: #555;
  font-size: 15px;
  padding: 0px 10px;
  font-weight: 400;
}
.infoPage_news i {
  color: #ec2027;
  font-size: 13px;
  margin-right: 5px;
}

@media screen and (max-width: 770px) {
  .infoPage .productPage_sidebar {
    display: none;
  }
  .infoPage_title {
    margin-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  .infoPage_content p {
    font-size: 14px;
  }
  .infoPage_content b {
    font-size: 15px;
  }
  .infoPage_link {
    font-size: 15px;
  }
  .infoPage_news-title {
    font-size: 16px;
  }
  .infoPage_news a {
    font-size: 14px;
  }
}
.offerPage {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  gap: 30px;
}
.offerPage_inner {
  flex: 1;
}
.offerPage_inner h2 {
  display: block;
  border-bottom: 1px sloid #ddd;
  height: 50px;
  line-height: 50px;
  margin-bottom: 30px;
  position: relative;
}
.offerPage_inner h2::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 6px;
  height: 1px;
  width: 100%;
  background-color: #ddd;
  z-index: 10;
}
.offerPage_inner h2 a {
  position: relative;
}
.offerPage_inner h2 a:hover {
  text-decoration: none;
  color: #555;
}
.offerPage_inner h2 a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 100%;
  background-color: #ec2027;
  z-index: 11;
}
.offerPage_title {
  display: block;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 12px;
  text-transform: uppercase;
  background: url("./b.gif") repeat-x left 13px;
}
.offerPage_item {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
.offerPage_item img {
  width: 210px;
}
.offerPage_name {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 5px;
  color: #333;
}
.offerPage_content {
  align-items: center;
  gap: 10px;
}
.offerPage_desc {
  color: #555;
  font-size: 15px;
  line-height: 18px;
  text-align: justify;
}

@media screen and (max-width: 767px) {
  .offerPage_inner h2 {
    margin-bottom: 30px;
  }
  .offerPage_inner h2 a {
    font-size: 20px;
  }
  .offerPage .productPage_sidebar {
    display: none;
  }
  .offerPage_name {
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .offerPage_desc {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media screen and (max-width: 500px) {
  .offerPage_inner h2 {
    margin-bottom: 20px;
  }
  .offerPage_inner h2 a {
    font-size: 18px;
  }
  .offerPage_name {
    font-size: 14px;
  }
  .offerPage_desc {
    font-size: 13px;
  }
}

/*# sourceMappingURL=app.css.map */
