@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  background-color: $color-white;
  font-family: "Roboto";
}

.container {
  max-width: 1205px;
  width: 100%;
  margin: auto;
}

a {
  color: $color-tagLink;
  text-decoration: none;
  user-select: none;

  &:hover {
    color: $color-hover-link;
    text-decoration: underline;
  }
}
ul li {
  list-style: none;
}
img{
  max-width: 100%;
  object-fit: cover;
}
p{
  text-align: justify;
}
button,
input {
  border: 0;
  outline: 0;
  background-color: $color-white;
}
.title {
  display: block;
  color: #555;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
  &::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    height: 3px;
    width: 100px;
    background-color: $color-main;
}
}
.price {
  font-size: 22px;
  font-weight: bold;
  color: $color-text-price;
}

.priceThrough {
  font-size: 14px;
  font-weight: bold;
  color: $color-through-line;
  text-decoration: line-through;
}

.nameTitle {
  font-size: 18px;
  color: #fff;
  background-color: $color-main;
  line-height: 40px;
  text-transform: uppercase;
  padding: 0px 20px;
}

@media screen and (max-width: 1026px) {
  .container {
    max-width: 950px;
    margin: auto;
    padding: 0px 20px;
  }
}
@media screen and (max-width: 900px) {
  .container {
    max-width: 800px;
    margin: auto;
    padding: 0px 20px;
  }
}


@media screen and (max-width: 767px) {
  .title{
    font-size: 20px;
  }
  .price{
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .price{
    font-size: 16px;
  }
  .priceThrough{
    font-size: 12px;
  }
}