$color-main: #d8b442;
$color-text-price: #373737;
$color-tagLink: #555;
$color-through-line: #5a596b;
$color-red: rgb(255, 0, 0);
$color-hover-link: #ec2027;
$color-tagP: #333;
$color-desc: #666;
$color-white: #fff;
