.layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  &_item {
    position: relative;
    margin-top: -5px;
  }
  &_content {
    position: absolute;
    top: 50%;
    left: 85px;
    transform: translate(0, -50%);
  }
  &_title {
    font-size: 34px;
    font-weight: 600;
    line-height: 40px;
    color: $color-white;
    margin-bottom: 55px;
  }
  &_btn {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    line-height: 18px;
    color: $color-white;
    background-color: $color-main;
    box-shadow: #0000 0px 0px 10px 0px;
  }
  &_img {
    max-width: 1000px;
    position: relative;
    &::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }
    & img {
      max-height: 530px;
      width: 100%;
      height: 100%;
    }
  }
}
.layout_item:hover .layout_img::after{
    background: none;
    transition: 0.5s;
}

@media screen and (max-width: 1000px) {
    .layout{
        grid-template-columns: repeat(1, 1fr);
        &_img{
            max-height: 400px;
            height: 100%;
        }
    }
}

@media screen and (max-width: 900px) {
    .layout{
        &_img{
            max-width: 860px;
        }
    }
}
@media screen and (max-width: 767px) {
    .layout{
        &_content{
            left: 50px;
        }
    }
}
@media screen and (max-width: 500px) {
    .layout{
        &_img{
            max-height: 250px;
        }
        &_title{
            margin-bottom: 30px;
        }
        margin-bottom: 30px;
        &_content{
            left: 30px;
        }
    }
}
