.news {
  margin-bottom: 30px;
  & .title{
    font-size: 20px;
  }

  &_description {
    font-size: 14px;
    color: $color-tagP;
    text-align: justify;
    margin-bottom: 30px;
  }

  &_list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 25px;
  }
  &_item {
    max-width: 280px;
    border: 1px solid #e7e7e7;
    &:last-child{
      display: none;
    }
    & img {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  &_name {
    padding: 0 15px 15px;
    font-size: 14px;
    font-weight: 700;
    color: $color-tagLink;
    text-align: center;
    height: 35px;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;  /* số dòng hiển thị */
  	-webkit-box-orient: vertical;
    // text-overflow: ellipsis;
  	overflow: hidden;
  }

  &_desc{
    color: $color-desc;
    line-height: 18px;
    display: block;
    padding: 0 20px 15px;
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .news{
    &_list{
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    &_item{
      &:last-child{
        display: block;
      }
      & img{
        margin-bottom: 5px;
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .news{
    &_list{
      grid-template-columns: repeat(2, minmax(0, 1fr));
      place-items: center;
    }
    &_item{
      max-width: 350px;
      &:last-child{
        display: none;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .news{
    & .title{
      font-size: 16px;
    }
    &_description{
      font-size: 13px;
    }
    &_list{
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}