.product{
    margin-bottom: 40px;
    &_head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px dotted $color-main;
        margin-bottom: 20px;
    }
    &_title{
        display: block;
        height: 41px;
        line-height: 40px;
        text-transform: uppercase;
        font-size: 18px;
        color: $color-white;
        background-color: $color-main;
        padding: 0 20px;
        border-left: 2px solid #000;
        white-space: nowrap;
        // text-overflow: ellipsis;
        // overflow: hidden;
    }

    &_product{
        display: flex;
        align-items: center;
        &-name{
            display: flex;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 950px;
            & a{
                padding: 0 10px;
                border-right: 1.5px solid $color-desc;
            }
        }
    }

    &_all{
        margin-right: 10px;
        font-style: italic;
        font-size: 14px;
        color: $color-tagLink;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-left: 10px;
        & span{
            font-weight: 500;
            margin-right: 5px;
        }
    }

    &_list{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 27px;
    }

    &_item{
        max-width: 280px;
        width: 100%;
        position: relative;
        & img{
            width: 100%;
        }
    }
    &_info{
        padding: 15px;
        background-color: #f0f0f0;
        transform: translateY(-10px);
    }
    &_name{
        font-size: 14px;
        line-height: 18px;
        display: block;
        margin-bottom: 8px;
    }

    &_price{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    // &_sale{
    //     position: absolute;
    //     top: 40px;
    //     right: 40px;
    //     &::after{
    //         position: absolute;
    //         width: 51px;
    //         height: 51px;
    //         background-image: url('./striking.png');
    //         content: '';
    //         z-index: 10000000000;
    //     }
    // }
}