.project {
  margin-bottom: 50px;
 & .title{
  font-size: 22px;
 }

  &_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  &_item {
    max-width: 580px;
    & .price {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      &:hover{
        text-decoration: none;
      }
    }
  }
  &_img {
    display: block;
    & img {
      width: 100%;
    }
  }
}
@media screen and (max-width: 770px) {
  .project{
    &_list{
      grid-template-columns: repeat(1, minmax(0, 1fr));
      place-items: center;
    }
  }
}